.vs/CleanArchitecture/FileContentIndex/1f8122e8-c16d-4f26-8cf1-fef5dd83a38d.vsidx
.vs/CleanArchitecture/FileContentIndex/3015cade-f663-4360-ab4b-ddc2f954ef2c.vsidx
.vs/CleanArchitecture/FileContentIndex/3aeb9fbf-9072-4b0c-b839-cfa15fe0cbcc.vsidx
.vs/CleanArchitecture/FileContentIndex/f261373d-6c67-44fe-83c8-017d63a12922.vsidx
.vs/CleanArchitecture/FileContentIndex/ff11c163-11d7-4cf0-8b51-f95d29f9ca82.vsidx
