.vs/CleanArchitecture/FileContentIndex/1f8122e8-c16d-4f26-8cf1-fef5dd83a38d.vsidx
.vs/CleanArchitecture/FileContentIndex/3aeb9fbf-9072-4b0c-b839-cfa15fe0cbcc.vsidx
.vs/CleanArchitecture/FileContentIndex/5fbd5b94-dbdf-4fcb-8ad0-afd3390fb8b6.vsidx
.vs/CleanArchitecture/FileContentIndex/dc2ba927-f11a-4091-a9f1-7de465bc3d08.vsidx
.vs/CleanArchitecture/FileContentIndex/ff11c163-11d7-4cf0-8b51-f95d29f9ca82.vsidx
.vs/CleanArchitecture/FileContentIndex/66ab1700-cb48-4def-bcac-5afa9ba09af9.vsidx
.vs/CleanArchitecture/FileContentIndex/f83be34d-75e9-4771-a60f-8711707396fd.vsidx
.vs/CleanArchitecture/FileContentIndex/25e70d5b-c423-4710-9fdf-af215e7ae92b.vsidx
.vs/CleanArchitecture/FileContentIndex/236f167e-937c-412e-983b-a86e6433a640.vsidx
.vs/
# Ignore DLLs
*.dll

# Ignore PDBs
*.pdb

# Ignore SUO files
*.suo

# Ignore bin and obj directories
bin/
obj/

# Ignore sourcelink files
*.sourcelink.json

# Ignore AssemblyInfo files
*.AssemblyInfo.cs

# Ignore AssemblyInfoInputs files
*.AssemblyInfoInputs.cache

# Ignore AssemblyReference files
*.csproj.AssemblyReference.cache
